


.entire{background-color: #e3e3e3;}


header
{
background-color: white;
margin: 0px;
padding-bottom: 0px;
overflow: hidden;
}

header h1
{
  background: url(../images/MBuff.png) no-repeat;
  height:60px;
  width: auto;
  text-indent: -9999px;
  float: left;
  padding-bottom: -10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4{margin-top: 10px;}
nav
{
  background-color: white;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
nav li:first-child
{
  padding-right: 10px;
  text-decoration: none;
}
nav li a:active{color:black;}
nav ul
{
  color: black;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-top: none;
  margin: 0px;
}
nav li a
{
  text-decoration: none;
  color: #2EB82E;
}
nav li a:hover
{
  color:black;
}
nav li
{
  font-family:'Libre Baskerville', serif;
  font-size: 0.75em;
  margin-top: -10px;
  margin-bottom: 0px;
  padding-left: 2px;
  text-align:  center;
  display: inline;
  text-transform: uppercase;
}

.grid_6
{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  height: 300px;
  line-height: 20px;
  background: #e5e5e5;
}
.grid_6 h4
{
  line-height: 5px;
}

.button
{
  background: #2eb6f0;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.button:hover{color: black;}


.footer,.follow,.subscribe
{
  float: left;
  margin-top: 0px;
  padding-left: 40px;
  padding-top: 0px;
  font-family: 'Oxygen', sans-serif;
  background-color: #fff;
}
.follow{float: right;}

.subscribe
{
  font-size: 15px;
  text-align: center;
}

.footer a
{
  display:  flex;
  color: black;
  line-height: 20px;
}
.footer a:hover{color: red;}

.copyright
{
  font-family: 'Oxygen', sans-serif;
  font-weight: 50;
  margin-top: 20px;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.follow #fb:hover, #twitter:hover,#gplus:hover
{
  height: 50px;
  width: 50px;
}

h2
{
  line-height: 100px;
  background-color: #e3e3e3;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.grid_4
{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align:middle;
  text-align:center
}

.grid_4:hover
{
  background-color: lightblue;

}
