.hero
{
  background: url(../images/movie-home.jpg) no-repeat;
  margin: 0px;
  width: 1000px;
  height: 517px;
  padding-top: 0px;
  padding-bottom: 0px;
}

body
{
  margin: 0px !important;
  padding: 0px !important;
}

.entire{background-color: #e3e3e3;}

.info{width:960px; }
.sign_up:hover
{
  color: black;font-size: 20px;box-shadow: rgb(222, 126, 7) 0px 5px 0px 0px;
}
.sign_up
{
  margin-left: 365px;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(248, 152, 32);
  background-image: none;
  background-origin:   inherit;
  background-size: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing:  border-box;
  box-shadow: rgb(222, 126, 7) 0px 5px 0px 0px;
  color: rgb(242, 242, 242);
  display:  inline-table;
  font-family: faricy-new-web, sans-serif;
  font-size:20px;
  font-weight: bold;
  height: auto;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.contents:hover{color: rgb(248, 152, 32);}
.contents
{
font-size: 3em;
color: rgb(242, 242, 242);
text-shadow: 2px 2px #333;
display: block;
font-family: faricy-new-web, sans-serif;
font-size: 50px;
font-weight: 300;
height: 200px;
letter-spacing: -2px;
line-height: 50px;
margin-top: 2em;
text-align: center;
}

.info{background-color: white;}
#image
{
  background-color: white;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: rgb(102, 102, 102);
}

header
{
background-color: white;
margin: 0px;
padding-bottom: 0px;
overflow: hidden;
}

header h1
{
  background: url(../images/MBuff.png) no-repeat;
  height:60px;
  width: auto;
  text-indent: -9999px;
  float: left;
  padding-bottom: -10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4
{
  margin-top: 10px;
}

nav
{
  background-color: white;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
nav li:first-child
{
  padding-right: 10px;
  text-decoration: none;
}
nav li a:active{color:black;}
nav ul{color: black;padding-left: 0px; margin-bottom: 0px;padding-top: none;margin: 0px;}
nav li a{text-decoration: none;color: rgb(222, 126, 7);}
nav li a:hover{color:black;}
nav li
{
  font-family:'Libre Baskerville', serif;
  font-size: 1em;
  margin-top: -10px;
  margin-bottom: 0px;
  padding-left: 2px;
  text-align:  center;
  display: inline;
}

.grid_6:last-of-type{margin-bottom: 10px;}
.grid_6
{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  height: 300px;
  line-height: 20px;
  background: #e5e5e5;
  padding: 0px;
  margin: 0px;
}
.grid_6 h4{margin: 0px;line-height: 5px;}
.alt{width:470px !important;}
.button
{
  background: #2eb6f0;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.button:hover{color: black;}


.footer,.follow,.subscribe
{
  float: left;
  margin-top: 0px;
  padding-left: 40px;
  padding-top: 0px;
  font-family: 'Oxygen', sans-serif;
  background-color: #fff;
}
.follow{float: right;}
.subscribe{font-size: 15px;text-align: center;}

.footer a
{
  display:  flex;
  color: black;
  line-height: 20px;
}
.footer a:hover{color: red;}

.copyright
{
  font-family: 'Oxygen', sans-serif;
  font-weight: 50;
  margin-top: 20px;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.movies_upcomming,.movies_recent,.movies_hits h2
{
  line-height: 15px;
  padding-bottom: 10px;
  margin: 0px;
  padding-top: 15px;
  background-color: #e3e3e3;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

hr
{

}
.grid_4
{
  background-color: white;
  padding-top: 20px;
  margin: 0px;
  height: 180px;
  display: table-cell;
  vertical-align:middle;
  text-align:center
}

.grid_4:hover
{
  background-color: lightblue;
}
